<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.autcion.auction_back.dao.UsersMapper">

    <!-- loginRow --> 

    <select id="loginRow" parameterType="com.autcion.auction_back.domain.LoginDto" resultType="Integer">
        SELECT
            COUNT(*)
        FROM
            users
        WHERE
            login_id = #{loginId}
            AND password = #{password}
    </select>

    <!-- registerRow --> 

    <insert id="registerRow" parameterType="com.autcion.auction_back.domain.RegisterDto">
        INSERT INTO users (login_id, password, name, nickname, email, phone, address, created_at)
        VALUES (#{loginId}, #{password}, #{name}, #{nickname}, #{email}, #{phone}, #{address}, NOW())
    </insert>

    <!-- profile --> 

    <select id="profileRow" parameterType="String" resultType="com.autcion.auction_back.dao.ProfileDao">
        SELECT * FROM users WHERE name = #{username}
    </select>
</mapper>