<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autcion.auction_back.auctionpage.DAO.AuctionImageMapper">

    <insert id="saveAuctionImage" parameterType="com.autcion.auction_back.auctionpage.DTO.AuctionImageDTO">
        INSERT INTO auction_image (item_id, image_url)
        VALUES (#{itemId}, #{imageUrl})
    </insert>

    <select id="getAuctionImage" resultType="com.autcion.auction_back.auctionpage.DTO.AuctionImageDTO">
        SELECT image_id AS imageId, item_id AS itemId, image_url AS imageUrl
        FROM auction_image
        WHERE item_id = #{itemId}
    </select>

    <delete id="deleteAuctionImage" parameterType="Long">
        DELETE FROM auction_image WHERE image_id = #{imageId}
    </delete>

    <update id="updateAuctionImage" parameterType="com.autcion.auction_back.auctionpage.DTO.AuctionImageDTO">
        UPDATE auction_image
        SET image_url = #{imageUrl}
        WHERE image_id = #{imageId}
    </update>
</mapper>