<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.autcion.auction_back.EditPage.dao.HomeManageMapper">

    <!-- getTradeCount --> 

    <select id="getTradeCount">
    </select>

    <!-- getDepositWaitCount --> 

    <select id="getDepositWaitCount">
    </select>

    <!-- getDepositCount --> 

    <select id="getDepositCount">
    </select>

    <!-- getDeliveryWaitCount --> 

    <select id="getDeliveryWaitCount">
    </select>

    <!-- getDeliveringCount --> 

    <select id="getDeliveringCount">
    </select>

    <!-- getDeliveryEndCount --> 

    <select id="getDeliveryEndCount">
    </select>

    <!-- getCancelCount --> 

    <select id="getCancelCount">
    </select>

    <!-- getRefundCount --> 

    <select id="getRefundCount">
    </select>

    <!-- getReturnCount --> 

    <select id="getReturnCount">
    </select>

    <!-- getRecentTrade --> 

    <select id="getRecentTrade">
    </select>
    
</mapper>